# Ignore all folders starting with "implementation"
implementation1
implementation2
implementation3
implementation4

# Ignore virtual environment folder
env/
examples/
data/
old data/
testimage/
model/
sampled_data/
*sampled_data/
*sampled_data1/
*sampled_data0.3/
*sampled_data0.25/
*sampled_data0.24/

# Ignore text files
*.txt
# Ignore any other unnecessary files (e.g., temporary files)
*.log
*.tmp
*.bak
implementation5/model.pth
implementation5/vgg16_pig_disease_model.h5
implementation/model.pth
implementation5/vgg16_pig_disease_model.h5
notebooks used for training/Pig.v2i.yolov5pytorch.zip
notebooks used for training/test/Pig Count.v5i.yolov5pytorch.zip
