# Ignore all folders starting with "implementation"
implementation1
implementation2
implementation3
implementation4

# Ignore virtual environment folder
env/
examples/
data/
old data/
testimage/
model/
sampled_data/
*sampled_data/
# Ignore text files
*.txt
# Ignore any other unnecessary files (e.g., temporary files)
*.log
*.tmp
*.bak
implementation5/model.pth
